@{
    ViewData["Title"] = "Home Page";
}

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <partial name="_Header" />

  <partial name="_HeroSection" />

  <main id="main">

    <partial name="_AboutSection" />

    @* <partial name="_FactsSection" /> *@

    <partial name="_SkillsSection" />

    <partial name="_ResumeSection" />

    <partial name="_PortfolioSection" />

    @* <partial name="_ServicesSection" /> *@

    @* <partial name="_TestimonialsSection" /> *@

    <partial name="_ContactSection" />    

  </main><!-- End #main -->